In [1]:
# data manipulation
import numpy as np
import pandas as pd
# decomposition
from sklearn.decomposition import PCA
# encoding labels
from sklearn.preprocessing import LabelEncoder
# scaler
from sklearn.preprocessing import StandardScaler

In [2]:
ds = ['emodb', 'emovo', 'ravdess']

In [3]:
md = {}
for d in ds:
    # md[d] = pd.read_csv(f"/datasets/nicolas_facchinetti/processed_data/{d}/metadata_pre_aug.csv")
    
    md[d] = pd.read_csv(f"D:\\Scuola\\TesiMag\\thesis_adversarial_ml_audio\\processed_data/{d}/metadata_pre_aug.csv")

In [4]:
md['emodb']

,path,filename,chunk,label,actor,gender
0,D:\Scuola\TesiMag\thesis_adversarial_ml_audio\...,03a01Fa.wav,0,happy,3,m
1,D:\Scuola\TesiMag\thesis_adversarial_ml_audio\...,03a01Nc.wav,0,neutral,3,m
2,D:\Scuola\TesiMag\thesis_adversarial_ml_audio\...,03a01Wa.wav,0,angry,3,m
3,D:\Scuola\TesiMag\thesis_adversarial_ml_audio\...,03a02Fc.wav,0,happy,3,m
4,D:\Scuola\TesiMag\thesis_adversarial_ml_audio\...,03a02Nc.wav,0,neutral,3,m
...,...,...,...,...,...,...
675,D:\Scuola\TesiMag\thesis_adversarial_ml_audio\...,16b10Tb.wav,1,sad,16,f
676,D:\Scuola\TesiMag\thesis_adversarial_ml_audio\...,16b10Td.wav,0,sad,16,f
677,D:\Scuola\TesiMag\thesis_adversarial_ml_audio\...,16b10Td.wav,1,sad,16,f
678,D:\Scuola\TesiMag\thesis_adversarial_ml_audio\...,16b10Wa.wav,0,angry,16,f
679,D:\Scuola\TesiMag\thesis_adversarial_ml_audio\...,16b10Wb.wav,0,angry,16,f

In [5]:
sgrams = {}
for d in ds:
    # sgrams[d] = np.load(f"/datasets/nicolas_facchinetti/processed_data/{d}/sgram_pre_aug.npy")
    sgrams[d] = sgram_ravdess = np.load(f"D:\\Scuola\\TesiMag\\thesis_adversarial_ml_audio\\processed_data/{d}/sgram_pre_aug.npy")

np.shape(sgrams['emodb'])

(680, 128, 261)

Since the samples are in tabular form, flatten each samples' matrix to a row. Also standardize the data

In [6]:
for d in ds:
    sgrams[d] = [sample.flatten() for sample in sgrams[d]]
    scaler = StandardScaler()
    sgrams[d] = scaler.fit_transform(sgrams[d])

Extract principal components

In [7]:
def get_components(logmelspectrograms):
    # apply PCA to data
    pca = PCA(0.9)
    principalComponents = pca.fit_transform(logmelspectrograms)
    print(f"Number of extracted components {pca.n_components_}")
    return principalComponents

In [8]:
pc = {}
for d in ds:
    print(f'For {d}')
    pc[d] = get_components(sgrams[d])

For emodb
Number of extracted components 256
For emovo
Number of extracted components 168
For ravdess
Number of extracted components 156

In [9]:
pc['emodb'].shape

(680, 256)

In [32]:
m = pd.DataFrame(pc['emodb']).corr()
m

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
0,1.000000e+00,-2.599713e-16,1.693329e-16,-2.651891e-16,6.218578e-18,-7.709848e-17,1.915620e-16,-2.188626e-16,-1.558699e-16,-1.336110e-16,...,3.262245e-17,-4.333534e-17,-4.727718e-17,1.376665e-17,-2.405046e-17,2.410602e-17,-1.543754e-17,2.254349e-17,-3.729616e-17,-1.567620e-17
1,-2.599713e-16,1.000000e+00,-2.132919e-16,5.389342e-17,5.858258e-17,3.333336e-17,-3.035448e-17,-6.943071e-17,-2.541960e-17,5.225998e-17,...,-6.391083e-18,3.741204e-17,-2.585687e-17,1.149979e-17,-2.445395e-17,-4.481909e-17,-1.068458e-17,-2.176266e-17,6.330935e-18,-3.534137e-18
2,1.693329e-16,-2.132919e-16,1.000000e+00,1.852571e-17,5.123393e-17,-2.118620e-16,8.930884e-17,-7.876926e-17,9.902302e-17,-1.266368e-17,...,1.073951e-17,-1.292262e-17,9.478160e-18,3.999960e-18,6.014808e-18,2.250716e-17,1.977005e-18,-3.008338e-17,-3.889121e-17,3.596858e-17
3,-2.651891e-16,5.389342e-17,1.852571e-17,1.000000e+00,-7.282780e-17,-5.161621e-17,2.587082e-17,-3.838295e-16,-1.290549e-16,-9.159817e-17,...,-3.043444e-17,4.127050e-17,-3.580712e-17,-5.774300e-19,8.682912e-19,-4.738284e-18,-5.723930e-17,-1.163251e-18,-8.159180e-18,-5.770185e-17
4,6.218578e-18,5.858258e-17,5.123393e-17,-7.282780e-17,1.000000e+00,1.158372e-16,7.350023e-17,-1.228782e-17,1.815012e-17,-2.600284e-17,...,-5.707357e-17,-3.608312e-17,-9.799745e-18,-3.489893e-17,-2.351759e-17,-9.567313e-18,3.238918e-17,-5.566796e-17,7.669605e-17,1.448752e-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,2.410602e-17,-4.481909e-17,2.250716e-17,-4.738284e-18,-9.567313e-18,-4.451666e-17,4.695914e-17,1.245654e-17,3.896050e-17,1.619481e-17,...,-1.098729e-17,-1.326314e-16,1.577222e-17,-2.953238e-16,-2.027263e-16,1.000000e+00,-1.140037e-15,-1.270944e-16,-1.490348e-16,3.250990e-17
252,-1.543754e-17,-1.068458e-17,1.977005e-18,-5.723930e-17,3.238918e-17,6.248705e-17,-1.848845e-17,3.264301e-17,-1.575243e-17,1.364416e-17,...,-2.264447e-16,-2.723828e-17,-5.715609e-17,-7.292746e-16,8.892690e-18,-1.140037e-15,1.000000e+00,-6.238290e-16,-2.953690e-16,-3.262469e-16
253,2.254349e-17,-2.176266e-17,-3.008338e-17,-1.163251e-18,-5.566796e-17,-1.061795e-16,4.388068e-17,-9.969111e-17,-5.411203e-17,8.544557e-19,...,2.101194e-16,4.246152e-16,8.554128e-16,2.919481e-16,3.111777e-16,-1.270944e-16,-6.238290e-16,1.000000e+00,-2.501526e-16,-5.640824e-16
254,-3.729616e-17,6.330935e-18,-3.889121e-17,-8.159180e-18,7.669605e-17,2.698391e-17,-5.465374e-17,1.333964e-17,1.091719e-17,-2.611346e-17,...,-1.651660e-16,-4.390070e-16,1.375540e-16,-5.306085e-16,-2.438125e-16,-1.490348e-16,-2.953690e-16,-2.501526e-16,1.000000e+00,1.742212e-16
255,-1.567620e-17,-3.534137e-18,3.596858e-17,-5.770185e-17,1.448752e-17,4.919246e-17,2.384690e-17,8.052747e-18,-8.731335e-18,8.603054e-19,...,-9.225799e-17,5.483027e-17,-1.954878e-16,-1.435314e-16,-2.225591e-16,3.250990e-17,-3.262469e-16,-5.640824e-16,1.742212e-16,1.000000e+00

In [33]:
# remove lower right traiangle
triup = m.where(np.triu(np.ones(m.shape)).astype(np.bool))
triup

C:\Users\Nicolas Facchinetti\AppData\Local\Temp\ipykernel_11672\3241436438.py:2: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  triup = m.where(np.triu(np.ones(m.shape)).astype(np.bool))

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
0,1.0,-2.599713e-16,1.693329e-16,-2.651891e-16,6.218578e-18,-7.709848e-17,1.915620e-16,-2.188626e-16,-1.558699e-16,-1.336110e-16,...,3.262245e-17,-4.333534e-17,-4.727718e-17,1.376665e-17,-2.405046e-17,2.410602e-17,-1.543754e-17,2.254349e-17,-3.729616e-17,-1.567620e-17
1,NaN,1.000000e+00,-2.132919e-16,5.389342e-17,5.858258e-17,3.333336e-17,-3.035448e-17,-6.943071e-17,-2.541960e-17,5.225998e-17,...,-6.391083e-18,3.741204e-17,-2.585687e-17,1.149979e-17,-2.445395e-17,-4.481909e-17,-1.068458e-17,-2.176266e-17,6.330935e-18,-3.534137e-18
2,NaN,NaN,1.000000e+00,1.852571e-17,5.123393e-17,-2.118620e-16,8.930884e-17,-7.876926e-17,9.902302e-17,-1.266368e-17,...,1.073951e-17,-1.292262e-17,9.478160e-18,3.999960e-18,6.014808e-18,2.250716e-17,1.977005e-18,-3.008338e-17,-3.889121e-17,3.596858e-17
3,NaN,NaN,NaN,1.000000e+00,-7.282780e-17,-5.161621e-17,2.587082e-17,-3.838295e-16,-1.290549e-16,-9.159817e-17,...,-3.043444e-17,4.127050e-17,-3.580712e-17,-5.774300e-19,8.682912e-19,-4.738284e-18,-5.723930e-17,-1.163251e-18,-8.159180e-18,-5.770185e-17
4,NaN,NaN,NaN,NaN,1.000000e+00,1.158372e-16,7.350023e-17,-1.228782e-17,1.815012e-17,-2.600284e-17,...,-5.707357e-17,-3.608312e-17,-9.799745e-18,-3.489893e-17,-2.351759e-17,-9.567313e-18,3.238918e-17,-5.566796e-17,7.669605e-17,1.448752e-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.000000e+00,-1.140037e-15,-1.270944e-16,-1.490348e-16,3.250990e-17
252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,-6.238290e-16,-2.953690e-16,-3.262469e-16
253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,-2.501526e-16,-5.640824e-16
254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,1.742212e-16
255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00

In [34]:
# remove elements in diagonal
np.fill_diagonal(triup.values, 'NaN')
triup

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
0,NaN,-2.599713e-16,1.693329e-16,-2.651891e-16,6.218578e-18,-7.709848e-17,1.915620e-16,-2.188626e-16,-1.558699e-16,-1.336110e-16,...,3.262245e-17,-4.333534e-17,-4.727718e-17,1.376665e-17,-2.405046e-17,2.410602e-17,-1.543754e-17,2.254349e-17,-3.729616e-17,-1.567620e-17
1,NaN,NaN,-2.132919e-16,5.389342e-17,5.858258e-17,3.333336e-17,-3.035448e-17,-6.943071e-17,-2.541960e-17,5.225998e-17,...,-6.391083e-18,3.741204e-17,-2.585687e-17,1.149979e-17,-2.445395e-17,-4.481909e-17,-1.068458e-17,-2.176266e-17,6.330935e-18,-3.534137e-18
2,NaN,NaN,NaN,1.852571e-17,5.123393e-17,-2.118620e-16,8.930884e-17,-7.876926e-17,9.902302e-17,-1.266368e-17,...,1.073951e-17,-1.292262e-17,9.478160e-18,3.999960e-18,6.014808e-18,2.250716e-17,1.977005e-18,-3.008338e-17,-3.889121e-17,3.596858e-17
3,NaN,NaN,NaN,NaN,-7.282780e-17,-5.161621e-17,2.587082e-17,-3.838295e-16,-1.290549e-16,-9.159817e-17,...,-3.043444e-17,4.127050e-17,-3.580712e-17,-5.774300e-19,8.682912e-19,-4.738284e-18,-5.723930e-17,-1.163251e-18,-8.159180e-18,-5.770185e-17
4,NaN,NaN,NaN,NaN,NaN,1.158372e-16,7.350023e-17,-1.228782e-17,1.815012e-17,-2.600284e-17,...,-5.707357e-17,-3.608312e-17,-9.799745e-18,-3.489893e-17,-2.351759e-17,-9.567313e-18,3.238918e-17,-5.566796e-17,7.669605e-17,1.448752e-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-1.140037e-15,-1.270944e-16,-1.490348e-16,3.250990e-17
252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-6.238290e-16,-2.953690e-16,-3.262469e-16
253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.501526e-16,-5.640824e-16
254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.742212e-16
255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# stack array and get values
triup.stack().values, triup.stack().values.shape

(array([-2.59971299e-16,  1.69332918e-16, -2.65189124e-16, ...,
        -2.50152562e-16, -5.64082387e-16,  1.74221183e-16]),
 (32640,))

Compute per label matrix

In [57]:
def compute_correlations(md, pc, t):
    corr = {}
    for d in ds:
        corr[d] = {}

        labels = md[d].label.unique()
        for l in labels:
            indeces_l = md[d][md[d]['label']==l].index.values.astype(int)
            data_l = pc[d][indeces_l]
            # get corr matrix
            m = pd.DataFrame(data_l).corr(method = t)
            # only upper triangular
            m = m.where(np.triu(np.ones(m.shape)).astype(np.bool))
            # remove elements in diagonal
            np.fill_diagonal(m.values, 'NaN')
            # stack array and get values
            m = m.stack().values
            corr[d][l] = m
    return corr

In [58]:
corr_pearson = compute_correlations(md, pc, 'pearson')
corr_spearman = compute_correlations(md, pc, 'spearman')
corr_kendall = compute_correlations(md, pc, 'kendall')

C:\Users\Nicolas Facchinetti\AppData\Local\Temp\ipykernel_11672\4188728101.py:13: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  m = m.where(np.triu(np.ones(m.shape)).astype(np.bool))

In [59]:
corr_pearson

{'emodb': {'happy': array([-0.10340238,  0.29909544,  0.55839715, ...,  0.09392321,
          0.18404713,  0.0036405 ]),
  'neutral': array([-0.22078383, -0.31455139, -0.5775443 , ..., -0.11342615,
         -0.07482072, -0.05506629]),
  'angry': array([-0.23486992,  0.10139953,  0.42624194, ...,  0.08792499,
         -0.0764715 , -0.14732108]),
  'sad': array([-0.17396778, -0.07748145, -0.22709919, ...,  0.00323396,
          0.07627546,  0.12008096]),
  'fear': array([-0.15858725,  0.14140683, -0.45904298, ..., -0.05271686,
         -0.11145802,  0.07253548]),
  'bored': array([-0.05567289, -0.08622784, -0.35439899, ..., -0.16754503,
         -0.00401379,  0.15543988]),
  'disgust': array([0.28319804, 0.3398457 , 0.17724325, ..., 0.00448481, 0.09088899,
         0.08006477])},
 'emovo': {'disgust': array([-0.00517223, -0.03159444, -0.13768947, ...,  0.04542718,
          0.04721388,  0.11632398]),
  'happy': array([-0.19600571, -0.37203621,  0.08534667, ...,  0.04744775,
          0.0455165 , -0.07175031]),
  'neutral': array([ 0.0484576 ,  0.24275815, -0.04311639, ...,  0.01692067,
          0.06360073,  0.0627443 ]),
  'fear': array([ 0.34254666, -0.37782843, -0.05437651, ..., -0.06484484,
         -0.0157745 , -0.16164874]),
  'angry': array([-0.23164182, -0.44255818, -0.10984963, ...,  0.03905454,
         -0.12712924, -0.03954757]),
  'surprised': array([ 0.050928  , -0.23310266,  0.19807825, ..., -0.10165868,
          0.13918506,  0.07389011]),
  'sad': array([ 0.2891816 ,  0.57134719, -0.48383483, ...,  0.01827202,
         -0.07141906,  0.04370961])},
 'ravdess': {'neutral': array([ 0.42055591,  0.12305451,  0.00121932, ...,  0.05849374,
         -0.11645154, -0.06493807]),
  'calm': array([ 0.5513953 ,  0.19735416,  0.01134195, ..., -0.1503154 ,
          0.04471177, -0.17122532]),
  'happy': array([-0.30674282, -0.21884298, -0.17468439, ...,  0.02374811,
          0.00597223,  0.07454195]),
  'sad': array([ 0.04645659, -0.05097614, -0.0264314 , ..., -0.06492845,
         -0.07646056,  0.04629886]),
  'angry': array([-0.18351785, -0.25501186, -0.15776533, ..., -0.0302535 ,
         -0.0208835 , -0.03768295]),
  'fear': array([ 0.01210789, -0.00731131, -0.02566535, ...,  0.10525088,
         -0.00517966, -0.10678696]),
  'disgust': array([0.04922399, 0.01134182, 0.00065735, ..., 0.02598957, 0.13664499,
         0.08175809]),
  'surprised': array([ 0.0279488 ,  0.11581948, -0.02116598, ..., -0.00113294,
         -0.00493072,  0.055758  ])}}

In [76]:
corr_pearson['emodb']['neutral'].shape, corr_pearson['emovo']['neutral'].shape, corr_pearson['ravdess']['neutral'].shape

((32640,), (14028,), (12090,))

Measure distance https://stackoverflow.com/questions/1401712/how-can-the-euclidean-distance-be-calculated-with-numpy

In [64]:
def dist_calc(corr):
    dist = {}
    for d in corr:
        print(d)
        dist[d] = []
        for l1 in corr[d]:
            dist[d].append([np.linalg.norm(corr[d][l1]-corr[d][l2]) for l2 in corr[d]])
    return dist

In [65]:
dist_pearson = dist_calc(corr_pearson)
dist_spearman = dist_calc(corr_spearman)
dist_kendall = dist_calc(corr_kendall)

emodb
emovo
ravdess
emodb
emovo
ravdess
emodb
emovo
ravdess

In [77]:
emodb_l = md['emodb'].label.unique()
emovo_l = md['emovo'].label.unique()
ravdess_l = md['ravdess'].label.unique()

In [78]:
pd.DataFrame(dist_pearson['emodb'], index=emodb_l , columns=emodb_l)

,happy,neutral,angry,sad,fear,bored,disgust
happy,0.000000,32.046139,27.646049,31.339372,33.341956,30.713032,33.839139
neutral,32.046139,0.000000,28.256891,30.461982,33.135973,29.874371,33.862383
angry,27.646049,28.256891,0.000000,27.231222,29.464506,26.589015,30.115249
sad,31.339372,30.461982,27.231222,0.000000,32.231981,28.513669,32.538798
fear,33.341956,33.135973,29.464506,32.231981,0.000000,31.893543,35.015807
bored,30.713032,29.874371,26.589015,28.513669,31.893543,0.000000,32.226845
disgust,33.839139,33.862383,30.115249,32.538798,35.015807,32.226845,0.000000

In [67]:
pd.DataFrame(dist_spearman['emodb'], index=emodb_l , columns=emodb_l)

           0          1          2          3          4          5          6
0   0.000000  29.802921  25.675410  29.195200  30.838330  28.606017  31.663567
1  29.802921   0.000000  26.599875  28.484565  30.750439  27.816301  31.753771
2  25.675410  26.599875   0.000000  25.641287  27.410360  25.037428  28.333912
3  29.195200  28.484565  25.641287   0.000000  30.009903  26.480645  30.375743
4  30.838330  30.750439  27.410360  30.009903   0.000000  29.699059  32.636663
5  28.606017  27.816301  25.037428  26.480645  29.699059   0.000000  30.208219
6  31.663567  31.753771  28.333912  30.375743  32.636663  30.208219   0.000000

In [69]:
pd.DataFrame(dist_kendall['emodb'], index=emodb_l , columns=emodb_l)

           0          1          2          3          4          5          6
0   0.000000  20.411840  17.582594  20.026603  21.180384  19.616341  21.797334
1  20.411840   0.000000  18.187682  19.513299  21.102784  19.039239  21.834071
2  17.582594  18.187682   0.000000  17.572571  18.820229  17.143518  19.502796
3  20.026603  19.513299  17.572571   0.000000  20.619382  18.149190  20.912183
4  21.180384  21.102784  18.820229  20.619382   0.000000  20.385797  22.477433
5  19.616341  19.039239  17.143518  18.149190  20.385797   0.000000  20.789636
6  21.797334  21.834071  19.502796  20.912183  22.477433  20.789636   0.000000

In [80]:
pd.DataFrame(dist_pearson['emovo'], index=emovo_l , columns=emovo_l)

,disgust,happy,neutral,fear,angry,surprised,sad
disgust,0.000000,18.467901,18.171483,17.960364,18.700087,18.257872,18.327943
happy,18.467901,0.000000,18.517971,18.465270,18.452811,18.401506,19.308409
neutral,18.171483,18.517971,0.000000,18.509199,19.124151,18.823375,18.613841
fear,17.960364,18.465270,18.509199,0.000000,19.014265,18.209903,18.686129
angry,18.700087,18.452811,19.124151,19.014265,0.000000,18.990442,19.982629
surprised,18.257872,18.401506,18.823375,18.209903,18.990442,0.000000,19.093787
sad,18.327943,19.308409,18.613841,18.686129,19.982629,19.093787,0.000000

In [81]:
pd.DataFrame(dist_spearman['emovo'], index=emovo_l , columns=emovo_l)

,disgust,happy,neutral,fear,angry,surprised,sad
disgust,0.000000,17.221422,17.102899,16.648252,17.398554,16.613194,16.887784
happy,17.221422,0.000000,17.593831,17.351411,17.261761,17.035624,18.045920
neutral,17.102899,17.593831,0.000000,17.437682,18.036406,17.453688,17.501867
fear,16.648252,17.351411,17.437682,0.000000,17.703235,16.612970,17.236813
angry,17.398554,17.261761,18.036406,17.703235,0.000000,17.444646,18.593687
surprised,16.613194,17.035624,17.453688,16.612970,17.444646,0.000000,17.378543
sad,16.887784,18.045920,17.501867,17.236813,18.593687,17.378543,0.000000

In [82]:
pd.DataFrame(dist_kendall['emovo'], index=emovo_l , columns=emovo_l)

,disgust,happy,neutral,fear,angry,surprised,sad
disgust,0.000000,11.791292,11.713864,11.413142,11.933400,11.401051,11.609852
happy,11.791292,0.000000,12.032466,11.878092,11.826174,11.681839,12.385058
neutral,11.713864,12.032466,0.000000,11.927778,12.353383,11.961132,12.001445
fear,11.413142,11.878092,11.927778,0.000000,12.135095,11.400961,11.839324
angry,11.933400,11.826174,12.353383,12.135095,0.000000,11.988767,12.784614
surprised,11.401051,11.681839,11.961132,11.400961,11.988767,0.000000,11.954066
sad,11.609852,12.385058,12.001445,11.839324,12.784614,11.954066,0.000000

In [83]:
pd.DataFrame(dist_pearson['ravdess'], index=ravdess_l , columns=ravdess_l)

,neutral,calm,happy,sad,angry,fear,disgust,surprised
neutral,0.000000,16.636980,15.839359,17.007095,16.808917,16.656714,16.930614,16.635615
calm,16.636980,0.000000,14.749780,14.851878,15.107407,15.051444,14.112377,15.283856
happy,15.839359,14.749780,0.000000,14.175441,13.078057,12.854241,13.818315,13.327454
sad,17.007095,14.851878,14.175441,0.000000,14.697906,14.409106,14.430725,14.867765
angry,16.808917,15.107407,13.078057,14.697906,0.000000,13.562811,13.513022,13.886838
fear,16.656714,15.051444,12.854241,14.409106,13.562811,0.000000,13.943202,13.528801
disgust,16.930614,14.112377,13.818315,14.430725,13.513022,13.943202,0.000000,14.256181
surprised,16.635615,15.283856,13.327454,14.867765,13.886838,13.528801,14.256181,0.000000

In [84]:
pd.DataFrame(dist_spearman['ravdess'], index=ravdess_l , columns=ravdess_l)

,neutral,calm,happy,sad,angry,fear,disgust,surprised
neutral,0.000000,15.877764,15.365532,15.579641,16.238221,16.146101,16.301450,16.043596
calm,15.877764,0.000000,14.086871,13.092354,14.437112,14.448887,13.393120,14.603907
happy,15.365532,14.086871,0.000000,12.701885,12.481996,12.454849,13.169739,12.844075
sad,15.579641,13.092354,12.701885,0.000000,13.171184,12.992254,12.770177,13.341056
angry,16.238221,14.437112,12.481996,13.171184,0.000000,13.031873,12.854344,13.217083
fear,16.146101,14.448887,12.454849,12.992254,13.031873,0.000000,13.344601,13.026886
disgust,16.301450,13.393120,13.169739,12.770177,12.854344,13.344601,0.000000,13.548766
surprised,16.043596,14.603907,12.844075,13.341056,13.217083,13.026886,13.548766,0.000000

In [85]:
pd.DataFrame(dist_kendall['ravdess'], index=ravdess_l , columns=ravdess_l)

,neutral,calm,happy,sad,angry,fear,disgust,surprised
neutral,0.000000,10.807605,10.429261,10.607825,11.018568,10.973516,11.076356,10.890775
calm,10.807605,0.000000,9.579896,8.927753,9.814452,9.843969,9.119052,9.933524
happy,10.429261,9.579896,0.000000,8.630197,8.432068,8.437778,8.914544,8.681057
sad,10.607825,8.927753,8.630197,0.000000,8.946644,8.839400,8.684691,9.064906
angry,11.018568,9.814452,8.432068,8.946644,0.000000,8.832733,8.706179,8.943889
fear,10.973516,9.843969,8.437778,8.839400,8.832733,0.000000,9.060809,8.830890
disgust,11.076356,9.119052,8.914544,8.684691,8.706179,9.060809,0.000000,9.182369
surprised,10.890775,9.933524,8.681057,9.064906,8.943889,8.830890,9.182369,0.000000