In [1]:
import os
import numpy as np
import pandas as pd
import librosa

Extract and prepare metadata from the used datasets

In [2]:
ds = ["emodb", "emovo", "ravdess"]
for d in ds:
    directory = f'/datasets/nicolas_facchinetti/processed_data/{d}/'
    if not os.path.exists(directory):
        os.makedirs(directory)

# EmoDB dataset

Create Pandas DataFrame with filename and label

In [3]:
label2name = {
    "L": "bored",
    "A": "fear",
    "E": "disgust",
    "F": "happy",
    "T": "sad",
    "W": "angry",
    "N": "neutral"
}

male = ['03', '10', '11', '12', '15']

dir_path = '/datasets/nicolas_facchinetti/emodb/data'
data = []
for filename in os.listdir(dir_path):
    filepath = os.path.join(dir_path, filename)
    
    samples, sr = librosa.load(filepath, sr=22050)
    length = len(samples)/sr
    cat = label2name[filename[5]]
    actor = filename[0:2]
    gender = 'm' if actor in male else 'f'
    data.append([filepath, filename, cat, actor, gender, length])
    
df_emodb = pd.DataFrame(data, columns=['path', 'filename', 'label', 'actor', 'gender', 'length'])
df_emodb

,path,filename,label,actor,gender,length
0,/datasets/nicolas_facchinetti/emodb/data/13a05...,13a05Tc.wav,sad,13,f,4.451383
1,/datasets/nicolas_facchinetti/emodb/data/14b09...,14b09Ac.wav,fear,14,f,2.287710
2,/datasets/nicolas_facchinetti/emodb/data/11b02...,11b02Na.wav,neutral,11,m,2.698821
3,/datasets/nicolas_facchinetti/emodb/data/09b03...,09b03Fd.wav,happy,09,f,3.312517
4,/datasets/nicolas_facchinetti/emodb/data/16b10...,16b10Fb.wav,happy,16,f,2.583537
...,...,...,...,...,...,...
530,/datasets/nicolas_facchinetti/emodb/data/15a04...,15a04Wa.wav,angry,15,m,1.945397
531,/datasets/nicolas_facchinetti/emodb/data/11b03...,11b03Td.wav,sad,11,m,5.905034
532,/datasets/nicolas_facchinetti/emodb/data/12b02...,12b02Na.wav,neutral,12,m,2.982086
533,/datasets/nicolas_facchinetti/emodb/data/14b01...,14b01Eb.wav,disgust,14,f,3.291791
534,/datasets/nicolas_facchinetti/emodb/data/08b01...,08b01Fe.wav,happy,08,f,2.515782

Sampes length analysis

In [4]:
df_emodb["length"].describe()

count    535.000000
mean       2.779635
std        1.028189
min        1.225533
25%        2.026621
50%        2.590204
75%        3.308435
max        8.978277
Name: length, dtype: float64

In [31]:
emodb_l = df_emodb.label.value_counts().rename('emodb')
emodb_l

angry      127
bored       81
neutral     79
happy       71
fear        69
sad         62
disgust     46
Name: emodb, dtype: int64

In [6]:
df_emodb.actor.value_counts()

16    71
14    69
13    61
08    58
15    56
11    55
03    49
09    43
10    38
12    35
Name: actor, dtype: int64

Save metadata

# EMOVO

Create Pandas DataFrame with filename and label

In [36]:
label2name = {
    "dis": "disgust",
    "neu": "neutral",
    "gio": "happy",
    "pau": "fear",
    "tri": "sad",
    "rab": "angry",
    "sor": "surprised",
}

dir_path = '/datasets/nicolas_facchinetti/emovo/data'
data = []
for actor in os.listdir(dir_path):
    path = dir_path+f"/{actor}"
    for filename in os.listdir(path):
        filepath = os.path.join(path, filename)
        info = filename.split("-")
        samples, sr = librosa.load(filepath, sr=22050)
        
        length = len(samples)/sr
        cat = label2name[filename[0:3]]
        gender = actor[0]
        data.append([filepath, filename, cat, actor, gender, length])
    
    
df_emovo = pd.DataFrame(data, columns=['path', 'filename', 'label', 'actor', 'gender', 'length'])
df_emovo

,path,filename,label,actor,gender,length
0,/datasets/nicolas_facchinetti/emovo/data/m3/gi...,gio-m3-l1.wav,happy,m3,m,5.205351
1,/datasets/nicolas_facchinetti/emovo/data/m3/gi...,gio-m3-b3.wav,happy,m3,m,1.877370
2,/datasets/nicolas_facchinetti/emovo/data/m3/pa...,pau-m3-n5.wav,fear,m3,m,4.394694
3,/datasets/nicolas_facchinetti/emovo/data/m3/tr...,tri-m3-b2.wav,sad,m3,m,2.773333
4,/datasets/nicolas_facchinetti/emovo/data/m3/tr...,tri-m3-l4.wav,sad,m3,m,3.370703
...,...,...,...,...,...,...
583,/datasets/nicolas_facchinetti/emovo/data/m2/di...,dis-m2-b3.wav,disgust,m2,m,2.474694
584,/datasets/nicolas_facchinetti/emovo/data/m2/so...,sor-m2-d1.wav,surprised,m2,m,2.090703
585,/datasets/nicolas_facchinetti/emovo/data/m2/pa...,pau-m2-b3.wav,fear,m2,m,1.962676
586,/datasets/nicolas_facchinetti/emovo/data/m2/tr...,tri-m2-n2.wav,sad,m2,m,2.368027
587,/datasets/nicolas_facchinetti/emovo/data/m2/ra...,rab-m2-l1.wav,angry,m2,m,5.461361

Sampes length analysis

In [9]:
df_emovo["length"].describe()

count    588.000000
mean       3.121005
std        1.357110
min        1.290703
25%        2.133333
50%        2.773333
75%        3.840000
max       13.994694
Name: length, dtype: float64

In [39]:
emovo_l = df_emovo.label.value_counts().rename('emovo')
emovo_l

happy        84
fear         84
sad          84
surprised    84
disgust      84
neutral      84
angry        84
Name: emovo, dtype: int64

In [11]:
df_emovo.actor.value_counts()

m3    98
f1    98
f2    98
f3    98
m1    98
m2    98
Name: actor, dtype: int64

Save metadata

# RAVDESS

Create Pandas DataFrame with filename and label

In [34]:
label2name = {
    "01": "neutral",
    "02": "calm",
    "03": "happy",
    "04": "sad",
    "05": "angry",
    "06": "fear",
    "07": "disgust",
    "08": "surprised"
}
# Filename identifiers
# Modality (01 = full-AV, 02 = video-only, 03 = audio-only).
# Vocal channel (01 = speech, 02 = song).
# Emotion (01 = neutral, 02 = calm, 03 = happy, 04 = sad, 05 = angry, 06 = fearful, 07 = disgust, 08 = surprised).
# Emotional intensity (01 = normal, 02 = strong). NOTE: There is no strong intensity for the 'neutral' emotion.
# Statement (01 = "Kids are talking by the door", 02 = "Dogs are sitting by the door").
# Repetition (01 = 1st repetition, 02 = 2nd repetition).
# Actor (01 to 24. Odd numbered actors are male, even numbered actors are female).
# Filename example: 03-01-06-01-02-01-12.wav

dir_path = '/datasets/nicolas_facchinetti/ravdess/data/'
data = []
for actor in os.listdir(dir_path):
    path = dir_path+f"{actor}"
    for filename in os.listdir(path):
        filepath = os.path.join(path, filename)
        
        samples, sr = librosa.load(filepath, sr=22050)
        info = filename.split("-")
        length = len(samples)/sr
        cat = label2name[info[2]]
        gender = ('f' if int(info[-1][:2]) % 2 == 0 else 'm')

        data.append([filepath, filename, cat, actor, gender, length])
    
    
df_ravdess = pd.DataFrame(data, columns=['path', "filename", 'label', 'actor', 'gender', 'length'])
df_ravdess

,path,filename,label,actor,gender,length
0,/datasets/nicolas_facchinetti/ravdess/data/Act...,03-01-05-01-02-01-15.wav,angry,Actor_15,m,3.703719
1,/datasets/nicolas_facchinetti/ravdess/data/Act...,03-01-08-01-02-02-15.wav,surprised,Actor_15,m,3.370068
2,/datasets/nicolas_facchinetti/ravdess/data/Act...,03-01-07-02-02-02-15.wav,disgust,Actor_15,m,3.470159
3,/datasets/nicolas_facchinetti/ravdess/data/Act...,03-01-04-01-02-01-15.wav,sad,Actor_15,m,3.303356
4,/datasets/nicolas_facchinetti/ravdess/data/Act...,03-01-03-01-02-01-15.wav,happy,Actor_15,m,3.336689
...,...,...,...,...,...,...
1435,/datasets/nicolas_facchinetti/ravdess/data/Act...,03-01-06-02-01-02-13.wav,fear,Actor_13,m,3.269977
1436,/datasets/nicolas_facchinetti/ravdess/data/Act...,03-01-02-01-02-01-13.wav,calm,Actor_13,m,3.136463
1437,/datasets/nicolas_facchinetti/ravdess/data/Act...,03-01-04-01-01-02-13.wav,sad,Actor_13,m,3.536871
1438,/datasets/nicolas_facchinetti/ravdess/data/Act...,03-01-08-01-02-02-13.wav,surprised,Actor_13,m,3.036417
1439,/datasets/nicolas_facchinetti/ravdess/data/Act...,03-01-07-01-01-02-13.wav,disgust,Actor_13,m,3.169841

Sampes length analysis

In [14]:
df_ravdess["length"].describe()

count    1440.000000
mean        3.700688
std         0.336676
min         2.936281
25%         3.470159
50%         3.670340
75%         3.870567
max         5.271973
Name: length, dtype: float64

In [41]:
ravdess_l = df_ravdess.label.value_counts().rename('ravdess')
ravdess_l

angry        192
surprised    192
disgust      192
sad          192
happy        192
fear         192
calm         192
neutral       96
Name: ravdess, dtype: int64

In [16]:
df_ravdess.actor.value_counts()

Actor_15    60
Actor_20    60
Actor_01    60
Actor_06    60
Actor_09    60
Actor_16    60
Actor_22    60
Actor_17    60
Actor_24    60
Actor_02    60
Actor_23    60
Actor_07    60
Actor_19    60
Actor_10    60
Actor_12    60
Actor_05    60
Actor_08    60
Actor_14    60
Actor_11    60
Actor_18    60
Actor_21    60
Actor_03    60
Actor_04    60
Actor_13    60
Name: actor, dtype: int64

# Compare labels of emotions

In [43]:
[len(emodb_l), len(emovo_l), len(ravdess_l)]

[7, 7, 8]

In [42]:
pd.concat([emodb_l, emovo_l, ravdess_l], axis=1)

           emodb  emovo  ravdess
angry      127.0   84.0    192.0
bored       81.0    NaN      NaN
neutral     79.0   84.0     96.0
happy       71.0   84.0    192.0
fear        69.0   84.0    192.0
sad         62.0   84.0    192.0
disgust     46.0   84.0    192.0
surprised    NaN   84.0    192.0
calm         NaN    NaN    192.0

For the study we want to conduct all the dataset must have the same number of labels, remove 'neutral' from Ravdess to have a better balanced dataset

In [46]:
df_ravdess_mod = df_ravdess.drop(df_ravdess[df_ravdess.label == 'neutral'].index)

In [47]:
df_ravdess_mod.label.value_counts()

angry        192
surprised    192
disgust      192
sad          192
happy        192
fear         192
calm         192
Name: label, dtype: int64

# Save metadata

In [48]:
df_emodb.to_csv("/datasets/nicolas_facchinetti/processed_data/emodb/processed_metadata.csv", index=False)

In [49]:
df_emovo.to_csv("/datasets/nicolas_facchinetti/processed_data/emovo/processed_metadata.csv", index=False)

In [50]:
df_ravdess_mod.to_csv("/datasets/nicolas_facchinetti/processed_data/ravdess/processed_metadata.csv", index=False)